.filimo-box {
    text-align: center;
    position: relative;
}
.filimo-box .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.filimo-box img.logo {
    height: 44px;
    width: auto;
}
.filimo-box h2 {
    font-size: 2.3rem;
}
.filimo-box p {
    font-size: 1.55rem;
    color: #959ba2;
    margin: 0;
}
.filimo-box a.button.more-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px auto;
    width: 160px;
    padding: 10px 24px;
    background-color: rgba(251, 181, 60, 0.06);
    border-radius: 24px;
}
.filimo-box a.button.more-info p {
    color: #f4843f;
    font-size: 1.55rem;
}
.filimo-box a.button.more-info i.fa-arrow-left {
    font-size: 15px;
    color: #f89f3e;
}
.filimo-box ul.video-list {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.filimo-box ul.video-list li {
    position: relative;
    border: 6px solid #000;
    overflow: hidden;
}
.filimo-box ul.video-list li a img {
    width: 374px;
    display: block;
    opacity: 0.7;
    transition: all 0.4s;
}
.filimo-box ul.video-list li:hover a img {
    transform: scale(1.1);
}
.filimo-box ul.video-list li a h3 {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(30px);
    white-space: nowrap;
    font-weight: 200;
    font-size: 1.3rem;
}
.filimo-box ul.video-list li a .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
}
.filimo-box ul.video-list li a .play-button .circle {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(30px);
    transition: all 0.3s;
    z-index: 1;
}
.filimo-box ul.video-list li:hover a .play-button .circle {
    background-color: rgba(0,0,0,.2);
}
.filimo-box ul.video-list li a .play-button .triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #fff;
    border-bottom: 8px solid transparent;
    z-index: 2;
}
.filimo-box .arrows {
    z-index: 3;
}
.filimo-box .arrows i {
    width: 40px;
    height: 40px;
    background-color: rgba(6,6,6,.6);
    border-radius: 50%;
    backdrop-filter: blur(30px);
    position: absolute;
    top: 72%;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
.filimo-box .arrows i.fa-angle-right {
    right: 18%;
}

.filimo-box .arrows i.fa-angle-left {
    left: 18%;
}