.popular .popular-top h1 {
    margin-bottom: 40px;
}
.popular .popular-top ul {
    display: flex;
    justify-content: space-between;
}
.popular .popular-top ul li.movie a {
    position: relative;
}
.popular .popular-top ul li.movie a img {
    width: 200px;
}
.popular .popular-top ul li.movie a img {
    width: 165px;
    height: auto;
    border-radius: 7px;
    opacity: 0.7;
    transition: all 0.3s;
}
.popular .popular-top ul li.movie:hover a img {
    opacity: 1;
}
.popular .popular-top ul li.movie a img.exclusive {
    position: absolute;
    bottom: 15px;
    left: 36px;
    width: 95px;
    z-index: 3;
}
/* ul li.movie .more-info {
    opacity: 0;
    visibility: hidden;
}
ul li.movie.expand .more-info {
    opacity: 1;
    visibility: visible;
}
.button1 {
    background-color: rgba(77, 171, 86, 0.12);
    padding: 3px 7px;
    border-radius: 16px;
    color: #1cb561;
}
.button2 {
    background-color: #282828;
    padding: 3px 15px;
    border-radius: 24px;
}
h4.grey {
    color: #a1a1a1;
}
h2.title-fa {
    font-size: 2rem;
}
.popular .popular-bottom .popular-bottom {
    position: relative;
}
.popular .popular-bottom .popular-bottom-wrapper img.background {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
}
.popular .popular-bottom .more-info-top .rate-genre {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 25px 0 35px 0;
}
.popular .popular-bottom .more-info-top .rate-genre span.icon-rate {
    display: flex;
    gap: 5px;
    align-items: center;
}
.popular .popular-bottom .more-info-top .rate-genre span.icon-rate img {
    width: 15px;
    height: auto;
}
.popular .popular-bottom .more-info-bottom ul {
    display: flex;
    gap: 20px;
}
.popular .popular-bottom .more-info-bottom ul li a .episode-box {
    position: relative;
}
.popular .popular-bottom .more-info-bottom ul li a .episode-box img.video-image {
    width: 287px;
    border-radius: 14px;
    backdrop-filter: blur(30px);
}
.popular .popular-bottom .more-info-bottom ul li a .episode-box img.lock-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */