@font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: 400;
    src: url('.././public/assets/fonts/iransans/IRANSansWeb.eot'),
         url('.././public/assets/fonts/iransans/iransansweb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('.././public/assets/fonts/iransans/iransansweb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('.././public/assets/fonts/iransans//iransansweb.ttf') format('truetype');
}
@font-face {
    font-family: "iransans";
    font-style: normal;
    font-weight: 200;
    src: url('.././public/assets/fonts/iransans/IRANSansWeb_Light.eot'),
         url('.././public/assets/fonts/iransans/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
         url('.././public/assets/fonts/iransans/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('.././public/assets/fonts/iransans/IRANSansWeb_Light.ttf') format('truetype');
}
html {
font-size: 10px;
}
body {
    margin: 0;
    direction: rtl;
    background-color: #151515;
    font-family: "iransans";
    color: #fff;
}
*,
*:after,
*:before {
box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    width: 1440px;
    margin: 0 auto;
    padding: 50px 100px;
    border-top: 1px solid #545454;
}